body {
	background-color: #121212;
	color: #f0f0f0;
}

li {
	list-style: none;
}

nav {
	background-color: #202020;
	border: 2px solid black;
	border-radius: 15px;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

nav li {
	border-right: 2px solid black;
	padding: 0px 10px;
}

nav li a {
	color: #BB86F7;
	text-decoration: none;
}

nav li:last-child {
	border: none;
}

.goal_item {
	margin: 5px;
	padding: 0px 30px;
	background-color: #303030;
	border: 2px solid black;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.goal_controls {
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	padding: 15px;
}

.goal_controls a {
	text-decoration: none;
	color: #BB86F7;
}

.goal_edit .goal_properties {
	display: grid;
	margin: 15px;
}